{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [],
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
      "no-param-reassign": [2, {"props": false}]
    }
}
