doctype html

html(lang="en")
  head
    title Queueball
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Quicksand|Lato:400,100,300,700', rel='stylesheet', type='text/css')
  
  body
    #app
      #sidebar
        ticket-form
      .twelve.columns
        ticket-list
    script(src="static/bundle.js")
