$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes

$body-font-size = 15px
$code-font-size = .8em

// colors

$red    = #ff6666
$green  = #2BDC33
$blue   = #16bfff
$white  = #ffffff
$light  = #adb2b4
$medium = #34495e
$dark   = #485f67
$border = #dddddd
$codebg = #f8f8f8
$bg     = #e5edef

$radius = 2px
