<html>
  <head>
    <title>Ok | CS61A</title>
    <!-- third-party libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- custom ok scripts -->
    <link rel="stylesheet" href="assets/styles/student.css">
  </head>
  <body>
    <header>
      <div class="left col-md-2">
        <div class="header-text">
          <span><a href="http://okpy.org">Ok</a></span>
        </div>
      </div>
      <div class="right col-md-2">
        <div class="header-text user-profile">
          <span class="user-name">Kevin the Bae</span>
          <i class="fa fa-user"></i>
        </div>
      </div>
    </header>
    <div class="header-bg"></div>
    <main>
      <aside class="sidebar nomapa col-md-4 left hidden-sm hidden-xs">
        <form>
          <input type="text">
          <textarea></textarea>
          <input type="submit" class="button">
        </form>
      </aside>
      <div class="col-md-4"></div>
      <section class="content nomapa col-md-8">
        <div class="subcontent heading">
          <div class="wrap">
            <h1>Queue</h1>
          </div>
        </div>
        <div class="subcontent list">
          <div class="wrap">
            <!-- <h2>Current Courses</h2> if you want a subheading -->
            <table>
              <tr class="header"><th>Name</th><th>Assignment</th><th>Question</th><th>Time</th></tr>
              <tr>
                <td><span>Kevin the Bae</span></td>
                <td class="tip-trigger"><span>Homework 1
                  <div class="tip group-members">
                    <span>Homework 1 : Iterators and Generators</span>
                  </div>
                </span></td>
                <td class="tip-trigger"><span>Q3
                  <div class="tip group-members">
                    <span>Q3: Scrambled Eggs</span>
                  </div>
                </span></td>
                <td>
                  <div class="due-dot green"></div>
                  <div class="due">
                    <span class="due-text green">10 minutes</span>
                    <span class="due-date">submitted 2:10 p.m.</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td><span>Kevin the Bae</span></td>
                <td class="tip-trigger"><span>Homework 1
                  <div class="tip group-members">
                    <span>Homework 1 : Iterators and Generators</span>
                  </div>
                </span></td>
                <td class="tip-trigger"><span>Q3
                  <div class="tip group-members">
                    <span>Q3: Scrambled Eggs</span>
                  </div>
                </span></td>
                <td>
                  <div class="due-dot yellow"></div>
                  <div class="due">
                    <span class="due-text yellow">1 hour</span>
                    <span class="due-date">submitted 1:20 p.m.</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td><span>Kevin the Bae</span></td>
                <td class="tip-trigger"><span>Homework 1
                  <div class="tip group-members">
                    <span>Homework 1 : Iterators and Generators</span>
                  </div>
                </span></td>
                <td class="tip-trigger"><span>Q3
                  <div class="tip group-members">
                    <span>Q3: Scrambled Eggs</span>
                  </div>
                </span></td>
                <td>
                  <div class="due-dot red"></div>
                  <div class="due">
                    <span class="due-text red">2 hours</span>
                    <span class="due-date">submitted 12:20 p.m.</span>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
